@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: Roboto, sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #222;
}

main {
  padding-top: 75px;
}

a {
  color: inherit;
  text-decoration: none;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.pageSection {
  padding: 3rem 0;
}

.sectionTitle,
.sectionSubtitle {
  color: #222;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  position: relative;
  text-align: center;
}

.sectionTitle:after,
.sectionSubtitle:after {
  border-top: 10px solid #c6ac8f;
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 0;
  height: 1rem;
  margin: 0 auto;
  z-index: -1;
  width: 102%;
}

.sectionSubtitle {
  font-size: 1.8rem;
}

.sectionSubtitle:after {
  bottom: -11px;
}

.btn {
  align-self: center;
  border-radius: .25rem;
  color: #222;
  font-size: 1.2rem;
  transition: all .3s ease-in-out;
  padding: 1rem;
  width: 250px;
}

.btnPrimary {
  background-color: #C6AC8F;
}

.btnPrimary::after {
  display: inline-block;
  padding-left: .5rem;
  content: "\0279E";
  transition: transform 0.1s ease-out;
}

.btnPrimary:hover {
  background-color: #D1BDA5;
}

.btnPrimary:hover.btnPrimary::after {
  transform: translateX(4px);
}

/* ====================================== */
/* STORE PRODUCTS CONTAINER */
/* ====================================== */
.storeProductsContainer {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

/* ====================================== */
/* STORE CATEGORY PAGE TITLES */
/* ====================================== */
.woodworkCategoryTitle {
  margin: 2rem auto;
  width: 200px;
}

.plansCategoryTitle {
  margin: 2rem auto;
  width: 120px;
}

.toolsCategoryTitle {
  margin: 2rem auto;
  width: 110px;
}

.merchCategoryTitle {
  margin: 2rem auto;
  width: 130px;
}

/* ====================================== */
/* MEDIA QUERIES */
/* ====================================== */
@media (min-width: 769px) {
  .storeProductsContainer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1100px) {
  .storeContainer h2 {
    text-align: left;
  }

  .storeProductsContainer {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}