.storeServices {
  background-color: #F0EAE2;
  padding: 5rem;
}

.servicesContainer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.servicesItem {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  width: 300px;
}

.servicesItem h3 {
  margin-top: 1rem;
}

.servicesItem p {
  color: #656565;
  margin-top: .25rem;
}