.shopTitleContainer {
  margin: 0 auto;
  width: 200px;
}

.shopContent {
  margin: 2rem 0;
  text-align: center;
}

.shopContent img {
  border-radius: 5px;
  height: auto;
  width: 95%;
  max-width: 600px;
}

.shopFavorites,
.shopRecommendations {
  padding: 3rem 0;
}

.shopFavoritesTitle {
  margin: auto;
  width: 230px;
}

.shopRecommendationsTitle {
  margin: auto;
  width: 340px;
}

@media (min-width: 500px) {
  .shopRecommendationsTitle {
    width: 390px;
  }
}